body {
    background-color: #f1f1f2;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 10pt;
    line-height: 1.5;
    margin: 0;
}

.btn-secondary {
    background-color: transparent;
    border-color: transparent;
}

.fixed-top {
    top: 0;
    left: 0;
    position: absolute;
}

.fixed-bottom {
    bottom: 40px;
    left: 0;
    position: absolute;
}

.tab {
    display: none;
}

.item-table {
    font-size: 1rem;
    font-weight: 800;
}

.item-table tr {
    background-color: #fff;
    border-radius: .25rem;
    margin: 0 0 1rem;
}

.item-table tr td {
    border: 0;
    padding: 1rem 1.25rem;
}